.select-dashboard {
  color: #808080;
  border: 1.5px solid #80808065;
  border-radius: 8px;
  font-family: var(--font-family);
  margin-top: 4px;
  outline: none;
}

.error-select-input {
  color: #ff0000;
  border: 1.5px solid #ff0000;
  border-radius: 8px;
  font-family: var(--font-family);
  margin-top: 4px;
  outline: none;
}

.error-select-label {
    color: #ff0000;
    outline: none;
  }
  

  /* DateInput.css */

.date-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.date-input-label {
  font-size: 14px;
  margin-bottom: 8px;
}

.date-input-fields {
  display: flex;
}

.date-input-field {
  height: 48px;
  padding: 12px;
  margin-right: 8px;
  flex: 1;
}

.date-input-error {
  font-size: 12px;
  color: #ff0000;
  margin-top: 4px;
}
