/* General styling for the entire component */
/* .amosn5 {
} */

/* Top bar with close button and action buttons */
.amosn5 .top-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* Close button */
.amosn5 .close-button {
  font-size: 24px;
  cursor: pointer;
}

/* Action buttons */
.amosn5 .action-buttons {
  display: flex;
  gap: 12px;
  font-size: 13px;
  color: #808080;
}

/* Profile image container */
.amosn5 .profile-image-container {
  height: 140px;
  border-radius: 8px;
  z-index: -1;
  width: 100%;
}

/* Profile image */
.amosn5 .profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* Profile information container */
.amosn5 .profile-info-container {
  margin-top: -32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Circular initials container */
.amosn5 .initials-container {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 488px;
  padding: 12px;
  color: white;
  font-size: 15px;
  border: 6px solid white;
  z-index: 2;
}

/* Profile initials */
.amosn5 .initials {
  font-weight: bold;
}

/* User details */
.amosn5 .user-details {
  margin-top: 8px;
}

/* User name */
.amosn5 .user-name {
  font-weight: bold;
}

/* User email */
.amosn5 .user-email {
  color: #808080;
}

/* Permission type */
.amosn5 .permission-type {
  font-weight: bold;
  color: #ff7342;
}

/* Tickets section */
.amosn5 .tickets-section {
  display: flex;
  gap: 24px;
}

/* Ticket box */
.amosn5 .ticket-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

/* Customize the colors as needed */
.amosn5 .ticket-box:nth-child(1) {
  background-color: var(--ticket-color-1);
}

.amosn5 .ticket-box:nth-child(2) {
  background-color: var(--ticket-color-2);
}

.amosn5 .ticket-box:nth-child(3) {
  background-color: var(--ticket-color-3);
}

.view-tickets {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border-radius: 588px;
  padding: 8px 16px;
  margin: 5px;
  display: flex;
}

.view-tickets-loading {
  background-color: #80808020;
  color: #808080;
  pointer-events: none;
  cursor: not-allowed;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 8px 24px;
  border-radius: 239px;
  cursor: pointer;
  margin: 0;
}

.view-tickets-token {
  background-color: #80808020;
  color: #808080;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 8px 24px;
  border-radius: 239px;
  cursor: pointer;
  margin: 0;
}

.width-modal-tickets {
  width: 450px;
}

.div-borderline {
  padding: 16px;
  margin: 16px;
  width: 100%;
  margin-top: -24px;
}
.border-line {
  border: 1px solid #80808045;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
}
.name-users-style-tickets {
  font-size: 10px;
  color: #808080;
  margin-bottom: -8px;
}
.name-users-style-tickets {
  font-size: 10px;
  color: #808080;
  margin-bottom: -2px;
}

.name-users-style-tickets-texts {
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 12px;
  width: fit-content;
}
.name-users-style-bold-email-ticket {
  font-size: 12px;
  background-color: #ff734224;
  color: #ff7342;
  padding: 12px 32px;
  border-radius: 32px;
}

.name-users-style-tickets-head {
  font-size: 13px;
  color: #808080;
  margin-bottom: 6px;
}
.tickets-stakeholders-name {
  font-size: 12px;
  color: #808080;
  margin-bottom: 0px;
}
.tickets-stakeholders-name-texts {
  font-size: 14px;
  color: #808080;
  margin-bottom: 16px;
  margin-top: 8px;
  color: #121212;
}

.reassign-ticket {
  padding: 12px 24px;
  border-radius: 45px;
  border: var(--darkOrange) 0.4px solid;
  background-color: var(--darkOrange);
  color: #fff;
}
.reassign-ticket:hover,
.reassign-ticket-line:hover {
  padding: 12px 24px;
  border-radius: 45px;
  border: none;
  color: #fff;
  transition: 0.74s;
  background-color: var(--darkBlue);
}
button {
  font-family: var(--font-family);
}

.reassign-ticket-line {
  padding: 12px 24px;
  border-radius: 45px;
  border: none;
  border: var(--darkOrange) 0.4px solid;
  color: var(--darkOrange);
  background-color: #fff;
}

.re-assign-ticket-texts-btn {
  color: var(--darkOrange);
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  cursor: pointer;
}
.users-tickets-re-assign-name {
  font-size: 14px;
  margin: 0;
}
.users-tickets-re-assign-email {
  font-size: 12px;
  margin: 0;
  color: #808080;
  margin-top: 4px;
}
.showTicketDetails {
  padding: 12px;
  padding-bottom: 32px;
  border: 1px solid #808080;
  width: 93%;
}
.fetchedUsers-reasign-tickets {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  justify-self: flex-start;
  margin-top: 4px;
  padding-bottom: 1px;
  width: 98%;
  border-radius: 8px;

}
