/* @import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
 */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
:root {
  --font-family: "Dm Sans", sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --darkOrange: #ff6b00;
  /* --darkOrange: #ff5f05; */
  --primaryOrange: #ff7342;
  --darkBlue: #031849;
  --lightBlue: #3586ff;
  --lightOrange: #fef4ea;
  --mainWhite: #ffffff;
  --lightWhite: #f4f4f4;
  --mainBlack: #000000;
  --lightBlack: #121212;
  --mainGray: #666666;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}
